---
// index.astro
import "../style/index.css"
import Main from "../content/index/main.md"
import Navi from "../content/index/navi.md"
import Layout from "../layouts/Layout.astro"
---
<Layout>
	<div class="box">
		<div class="top">
				<p> MAIN </p>
		</div>
		<div class="bottom">
		<div class="bottom-left">
		<div class="item">
			<a href="/" class="ico">🌀</a>
			<div class="introblock active" data-target="main">main</div>
		</div>
		<div class="item" data-target="blog">
			<a  href="blog/" class="ico">🌀</a>
			<div class="introblock" data-target="blog">blog</div>
		</div>
		<div class="item">
			<a href="navi/" class="ico">🌀</a>
			<div class="introblock" data-target="navi">navi</div>
		</div>
		</div>
		<div class="bottom-right">
			<div class="intro-content active" id="main">
				<div class="title">欢迎来到 LEV 的站点</div>
				<Main />
			</div>
			<div class="intro-content" id="blog">
				</div>
					<div class="intro-content" id="navi">
						<div class="title">NAVI 页的内容简介</div>
						<Navi />
				</div>
			</div>
			</div>
		</div>
	<script type="module" src="/src/scripts/intro.js"></script>
</Layout>