---
// index.astro
import "./index.css"
import Main from "../content/index/main.md"
import Layout from "../layouts/Layout.astro"
---
<Layout>
	<div class="box">
		<div class="top">
				<p> MAIN </p>
		</div>
		<div class="bottom">
		<div class="bottom-left">
		<div class="introblock active" data-target="main">main</div>
			<div class="introblock" data-target="blog">blog</div>
			<div class="introblock" data-target="navi">navi</div>
				</div>
				<div class="bottom-right">
					<div class="intro-content active" id="main">
						<div class="title">MAIN 页的内容简介</div>
						<Main />
					</div>
					<div class="intro-content" id="blog">
					</div>
					<div class="intro-content" id="navi">
					</div>
				</div>
			</div>
		</div>
	<script type="module" src="/src/scripts/intro.js"></script>
</Layout>