---
// index.astro
import "../style/index.css"
import "../style/search.css"
import "../style/href-card.css"
import Layout from "../layouts/Layout.astro"
---
<Layout>
<div class="main-container">
	<div class="search-container">
		<div class="search-box">
			<select id="engineSelect">
				<option value="bing" selected>Bing</option>
				<option value="google">Google</option>
			</select>
			<input type="text" id="searchInput" placeholder="请输入搜索内容..." />
			<button id="searchBtn">搜索</button>
		</div>
	</div>
	<div class="card-container">
		<div class="card">
			<h3 class="card-title">教程汇总</h3>
			<div class="link-list">
				<a href="https://developer.mozilla.org/zh-CN/" class="custom-link">MDN Web Docs</a>
				<a href="https://docs.astro.build/zh-cn/getting-started/" class="custom-link">Astro Docs</a>
			</div>
		</div>
		<div class="card">
			<h3 class="card-title">LLM 汇总</h3>
			<div class="link-list">
				<a href="https://chat.qwen.ai/" class="custom-link">Qwen</a>
				<a href="https://gemini.google.com/app" class="custom-link">Gemini</a>
			</div>
		</div>
		<div class="card">
			<h3 class="card-title">资源网站</h3>
			<div class="link-list">
				<a href="https://z-library.bz/" class="custom-link">Zlibrary</a>
			</div>
		</div>
		<div class="card">
			<h3 class="card-title">CODING</h3>
			<div class="link-list">
				<a href="https://github.com/" class="custom-link">GitHub</a>
				<a href="https://leetcode.cn/" class="custom-link">LeetCode</a>
			</div>
		</div>
	</div>
</div>
<div class="progress-bar"></div>
<script src="../scripts/search.js"></script>
<script src="../scripts/process.js"></script>
</Layout>