html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;    /* 水平居中 */
    align-items: center;        /* 垂直居中 */
    border-top: 2px solid #fedf77;
    border-left: 2px solid #fedf77;
    border-right: 2px solid #fedf77;
    border-bottom: 2px solid #fedf77;
    box-sizing: border-box; /* 边框计入总视口 */
}

.box {
    /* 总体布局及配色 */
    height: 100%;                         /* 占据视口的高度 */
    width: 100%;                          /* 占据视口的宽度 */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

/* 顶部区域 */
.top {
    flex: 1;
    height: 45px;
    background-color: #22495a;        /* 配色来源 KIT：1 */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #fedf77;
    font-weight: bold;
    border-bottom: 2px solid #fedf77;
    justify-content: space-between; /* 两端对齐：文字在左，按钮在右 */
    align-items: center; /* 垂直居中 */
    padding: 10px 20px;
}

/* 底部容器 */
.bottom {
    flex: 20;                         /* 上下比例分配 */
    display: flex;
    overflow: hidden;
}
        
/* 底部左侧 */
.bottom-left {
    flex: 1;
    background-color: #22495a;       /* 配色来源 KIT：1 */
    padding: 0 px;
    color: #fedf77;
    overflow-y: auto;
    border-right: 2px solid #fedf77;
}
        
/* 底部右侧 */
.bottom-right {
    flex: 8;
    background-color: #22495a;
    color: #fedf77;
    overflow-y: auto;
    padding: 0px 20px;
}

.introblock {
    flex: 1;
    width: 100%;                  /* 占据父容器所有宽度 */
    height: 60px;                 /* 固定高度 */
    /* 基础配色 */
    background-color: #22495a;
    color: #fedf77;
    /* 布局 */
    display: flex;
    align-items: center;          /* 文字内容垂直居中 */
    justify-content: center;      /* 文字内容水平居中 */
    padding: 0px 0px;
    /* 过渡动画（颜色转换更平滑） */
    transition: all 0.3s ease;
}

/* 底部容器 */
.item {
    display: flex;
    overflow: hidden;
    border-bottom: 2px solid #fedf77;
}

.ico {
    flex: 1;
    border-right: 2px solid #fedf77;
    height: 60px;
    display: flex;
    align-items: center;          /* 文字内容垂直居中 */
    justify-content: center;      /* 文字内容水平居中 */
}

/* 被选中状态 */
.introblock.active {
    background-color: #263b6a;
}

/* 鼠标悬停效果（可选） */
.introblock:hover {
    background-color: #6984a9; 
}

/* bottom right 默认不展示 */
.intro-content{
	display:none;
}

.intro-content.active{
	display:block;
}

/* 标题样式 */
.title{
    padding: 20px 0;
    text-align:center;
    font-weight:500;
    letter-spacing:2px;
    position:relative;
}

.title::before,
.title::after{
    content:"";
    position:absolute;
    top:50%;
    width:35%;
    height:2px;
    background:#fedf77;
}

.title::before{
    left:0;
}

.title::after{
    right:0;
}